name: Deploy App Infrastructure - Production (Reusable)

on:
  workflow_call:
    inputs:
      action:
        required: true
        type: string
        description: "Terraform action (plan or apply)"

jobs:
  deploy-production:
    name: ${{ inputs.action == 'plan' && 'Plan' || 'Apply' }} Production
    uses: carlssonk/terraform-modules/.github/workflows/deploy.yml@main
    with:
      environment: production
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID_PRODUCTION }}
      tf_root_directory: ./terraform/app/environments/staging-and-production
      state_key: terraform.tfstate
      action: ${{ inputs.action }}
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    permissions:
      contents: write
      id-token: write

  deploy-global:
    name: ${{ inputs.action == 'plan' && 'Plan' || 'Apply' }} Global
    uses: carlssonk/terraform-modules/.github/workflows/deploy.yml@main
    with:
      environment: production
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID_PRODUCTION }}
      tf_root_directory: ./terraform/app/global
      state_key: global.tfstate
      action: ${{ inputs.action }}
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    permissions:
      contents: write
      id-token: write