name: Deploy App Infrastructure - Production (Reusable)

on:
  workflow_call:
    inputs:
      action:
        required: true
        type: string
        description: "Terraform action (plan or apply)"

jobs:
  deploy-production:
    name: ${{ inputs.action == 'plan' && 'Plan' || 'Apply' }} Production
    runs-on: runs-on=${{ github.run_id }}/runner=4cpu-linux-x64
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Deploy Infrastructure
        uses: carlssonk/terraform-modules/.github/actions/deploy@main
        with:
          environment: production
          aws_region: ${{ vars.AWS_REGION }}
          aws_account_id: ${{ vars.AWS_ACCOUNT_ID_PRODUCTION }}
          tf_root_directory: ./terraform/app/environments/staging-and-production
          state_key: terraform.tfstate
          action: ${{ inputs.action }}

  deploy-global:
    name: ${{ inputs.action == 'plan' && 'Plan' || 'Apply' }} Global
    runs-on: runs-on=${{ github.run_id }}/runner=4cpu-linux-x64
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Deploy Infrastructure
        uses: carlssonk/terraform-modules/.github/actions/deploy@main
        with:
          environment: production
          aws_region: ${{ vars.AWS_REGION }}
          aws_account_id: ${{ vars.AWS_ACCOUNT_ID_PRODUCTION }}
          tf_root_directory: ./terraform/app/global
          state_key: global.tfstate
          action: ${{ inputs.action }}