name: Deploy Production Environments (Reusable)

on:
  workflow_call:
    inputs:
      action:
        required: true
        type: string
        description: "Terraform action (plan or apply)"

jobs:
  deploy:
    name: ${{ inputs.action == 'plan' && 'Plan' || 'Deploy' }} ${{ matrix.name }}
    environment: production
    strategy:
      matrix:
        include:
          - name: Production
            tf_root_directory: ./terraform/environments/staging-and-production
            state_key: terraform.tfstate
          - name: Global
            tf_root_directory: ./terraform/global
            state_key: global.tfstate
    permissions:
      contents: write
      id-token: write
    uses: carlssonk/terraform-modules/.github/workflows/deploy.yml@main
    with:
      environment: production
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID }}
      tf_root_directory: ${{ matrix.tf_root_directory }}
      state_key: ${{ matrix.state_key }}
      action: ${{ inputs.action }}
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

