name: Manage DevOps Infrastructure

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: "Action to perform"
        required: true
        options:
          - plan
          - apply
          - destroy
        default: plan

jobs:
  call-workflow:
    uses: carlssonk/terraform-modules/.github/workflows/deploy.yml@main
    with:
      environment: production
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID_PRODUCTION }}
      tf_root_directory: ./terraform/devops
      state_key: devops.tfstate
      action: ${{ inputs.action }}
    secrets: inherit
    permissions:
      contents: write
      id-token: write