name: Manage DevOps Infrastructure

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: "Action to perform"
        required: true
        options:
          - plan
          - apply
          - destroy
        default: plan

env:
  TF_VAR_runs_on_license_key: ${{ secrets.RUNS_ON_LICENSE_KEY }}

jobs:
  manage-devops:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Deploy or Destroy Infrastructure
        uses: carlssonk/terraform-modules/.github/actions/${{ inputs.action == 'destroy' && 'destroy' || 'deploy' }}@main
        with:
          environment: production
          aws_region: ${{ vars.AWS_REGION }}
          aws_account_id: ${{ vars.AWS_ACCOUNT_ID_PRODUCTION }}
          tf_root_directory: ./terraform/devops
          state_key: devops.tfstate
          action: ${{ inputs.action }}