name: Deploy Infrastructure

on:
  push:
    branches: [main, dev/*]
    paths:
      - '**.tf'
      - '**.tfvars'
  pull_request:
    branches: [main, dev/*]
    paths:
      - '**.tf'
      - '**.tfvars'
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: "Environment to deploy"
        required: true
        options:
          - dev
      tf_action:
        type: choice
        description: "Action to perform"
        required: true
        default: plan
        options:
          - plan
          - apply

jobs:
  deployment-strategy:
    uses: ./.github/workflows/reusable/trunk-config.yml
    with:
      event_name: ${{ github.event_name }}
      branch: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
      workflow_dispatch_environment: ${{ github.event.inputs.environment }}
      workflow_dispatch_tf_action: ${{ github.event.inputs.tf_action }}

  plan-production-environments:
    needs: deployment-strategy
    if: |
      needs.deployment-strategy.outputs.tf_action == 'apply' && 
      contains(fromJson(needs.deployment-strategy.outputs.environments), 'production')
    uses: ./.github/workflows/reusable/deploy-production.yml
    with:
      action: plan

  approve-deployment:
    name: Approve Deployment
    runs-on: ubuntu-latest
    needs: [deployment-strategy, plan-production-environments]
    if: |
      needs.deployment-strategy.outputs.tf_action == 'apply' && 
      contains(fromJson(needs.deployment-strategy.outputs.environments), 'production')
    environment:
      name: infra-approval
    steps:
      - name: Wait for manual approval
        run: echo "Deployment approved"

  plan-or-apply-dev:
    name: ${{ needs.deployment-strategy.outputs.tf_action == 'plan' && 'Plan' || 'Deploy' }} Infrastructure - Development
    needs: deployment-strategy
    # Disabled
    if: false && contains(fromJson(needs.deployment-strategy.outputs.environments), 'dev')
    permissions:
      contents: write
      id-token: write
    uses: carlssonk/terraform-modules/.github/workflows/deploy.yml@main
    with:
      environment: dev
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID_DEV }}
      tf_root_directory: ./terraform/environments/dev
      action: ${{ needs.deployment-strategy.outputs.tf_action }}

  plan-or-apply-staging:
    name: ${{ needs.deployment-strategy.outputs.tf_action == 'plan' && 'Plan' || 'Deploy' }} Infrastructure - Staging
    needs: deployment-strategy
    # Disabled
    if: contains(fromJson(needs.deployment-strategy.outputs.environments), 'staging')
    permissions:
      contents: write
      id-token: write
    uses: carlssonk/terraform-modules/.github/workflows/deploy.yml@main
    with:
      environment: staging
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID_STAGING }}
      tf_root_directory: ./terraform/environments/staging-and-production
      action: ${{ needs.deployment-strategy.outputs.tf_action }}

  apply-production-environments:
    needs: [deployment-strategy, approve-deployment]
    if: |
      always() &&
      contains(fromJson(needs.deployment-strategy.outputs.environments), 'production') &&
      needs.deployment-strategy.outputs.tf_action == 'apply' &&
      needs.approve-deployment.result == 'success'
    uses: ./.github/workflows/reusable/deploy-production.yml
    with:
      action: apply