name: Destroy Infrastructure

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: "Choose an environment to destroy"
        required: true
        options:
          - dev
          - staging
          - production
      confirmation:
        description: 'Type "DESTROY" to confirm infrastructure destruction'
        required: true
        type: string

jobs:
  validate-confirmation:
    runs-on: ubuntu-latest
    steps:
      - name: Validate confirmation
        run: |
          if [ "${{ inputs.confirmation }}" != "DESTROY" ]; then
            echo "Confirmation failed. You must type 'destroy' to proceed."
            exit 1
          fi
          echo "Confirmation validated"

  destroy-dev:
    needs: validate-confirmation
    if: inputs.environment == 'dev'
    environment: dev
    permissions:
      contents: write
      id-token: write
    uses: carlssonk/terraform-modules/.github/workflows/destroy.yml@main
    with:
      environment: dev
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID }}
      tf_root_directory: ./terraform/environments/dev
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  destroy-staging:
    needs: validate-confirmation
    if: inputs.environment == 'staging'
    environment: staging
    permissions:
      contents: write
      id-token: write
    uses: carlssonk/terraform-modules/.github/workflows/destroy.yml@main
    with:
      environment: staging
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID }}
      tf_root_directory: ./terraform/environments/staging-and-production
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  destroy-production-environments:
    needs: validate-confirmation
    if: inputs.environment == 'production'
    environment: production
    strategy:
      matrix:
        include:
          - name: Production
            tf_root_directory: ./terraform/environments/staging-and-production
            state_key: terraform.tfstate
          - name: Global
            tf_root_directory: ./terraform/global
            state_key: global.tfstate
    permissions:
      contents: write
      id-token: write
    uses: carlssonk/terraform-modules/.github/workflows/destroy.yml@main
    with:
      environment: production
      aws_region: ${{ vars.AWS_REGION }}
      aws_account_id: ${{ vars.AWS_ACCOUNT_ID }}
      tf_root_directory: ${{ matrix.tf_root_directory }}
      state_key: ${{ matrix.state_key }}
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}